[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "==4.5.1"
blinker = "==1.4"
flake8 = "==3.6.0"
Sphinx = "==1.8.1"

[packages]
bidict = "==0.17.3"
click = "==7.0"
python-dotenv = "==0.9.1"
Flask = "==1.0.2"
Flask-Babel = "==0.12.2"
Flask-Bcrypt = "==0.7.1"
Flask-Login = "==0.4.1"
Flask-Mail = "==0.9.1"
Flask-Migrate = "==2.3.0"
Flask-SQLAlchemy = "==2.3.2"
Flask-WTF = "==0.14.2"
PyJWT = "==1.6.4"
PyMySQL = "==0.9.2"
Werkzeug = "==0.14.1"
WTForms = "==2.2.1"

[requires]
python_version = "3.6"
