# Configuration example file for the Aerarium web application. Rename to ".env" and edit as necessary to configure your
# Aerarium instance. Alternatively, you can set the configuration variables as environment variables instead, e.g.
#   $ export SECRET_KEY=super-secure-and-secret-key
# on UNIX systems and
#   > set SECRET_KEY=super_secure-and-secret-key
# on Microsoft Windows systems.



###########
# GENERAL #
###########

# The secret key encrypts user sessions and other sensitive data. It should be set to a long and hard-to-guess value.
# Uncomment the following line and set your own key. If in production mode no secret key is given, the application
# will not start.
# SECRET_KEY=

# A semicolon-separated list of email address to which error messages will be sent. This configuration value is not
# required, but highly suggested.
# SYS_ADMINS=mail@example.com;info@example.com

# Set to 1 to use http:// in absolute URLs pointing to Aerarium pages, instead of https://.
# Note: If a request is made via https://, the absolute URLs in the response will also use https://.
# USE_HTTP=1

# Folder for temporary files. Defaults to ./tmp
# TMP_DIR=



############
# DATABASE #
############

# URI to the SQL database server. Defaults to the SQLite database at "sqlite:///<this-folder>/app.db".
# The URI format is [dialect]+[driver]://[username]:[password]@[host]:[port]/[database].
# Examples:
#   postgresql://ben:hur@localhost/mydatabase
#   msql://ben:hur@localhost/mydatabase
#   oracle://ben:hur@127.0.0.1:1521/sidname
#   sqlite:////abolute/path/to/file.db
#   sqlite:///relative/path/to/file.db
# For a full documentation, see http://docs.sqlalchemy.org/en/latest/core/engines.html#database-urls.
# DATABASE_URI=



########
# MAIL #
########
# Mail settings for sending error logs to the SYS_ADMINS and for sending mails to the users. Without these settings,
# no mails can be sent.

# The SMTP server address and port via which mails will be sent.
# MAIL_SERVER=
# MAIL_PORT=

# Set to 1 respectively if the SMTP server requires TLS or SSL connections.
# MAIL_USE_TLS=1
# MAIL_USE_SSL=1

# The username and password for authentication on the SMTP server.
# MAIL_USERNAME=
# MAIL_PASSWORD=

# The address from which mails will be sent. If none is given, it defaults to no-reply@[MAIL_SERVER].
# MAIL_FROM=



###########
# LOGGING #
###########
# Settings for logging events in production mode. If MAIL_SERVER and SYS_ADMINS are configured, error logs will be sent
# via mail. Informational events, warnings, and errors will be logged to file or to STDOUT, depending on the settings
# below.

# If set to 1 logs will not be written to files, but printed to STDOUT instead.
# LOG_TO_STDOUT=

# The directory in which log files will be saved.
# LOG_DIR=

# The maximum size in KiB of the log file before a new log file will be created.
# LOG_FILE_MAX_KB=

# The maximum number of log files. If the maximum is reached and a new file is created, the oldest log file will be
# deleted.
# LOG_MAX_FILES=
