{% extends '_base_standard.html' %}
{% from 'macros/pagination.html' import paginate %}
{% from 'macros/search_form.html' import render_search_form %}

{% block content %}
    <p>
        {{ _('Permissions restrict specific functionalities in the application. Only if a user has the permission required for a functionality they can access that functionality. These permissions are not directly assigned to a user, but to roles that combine multiple permissions. Each user is assigned to a single role, thus defining which permissions the user has.') }}
    </p>

    <p>
        <a class="btn btn-dark" role="button" href="{{ url_for('administration.role_new') }}" title="{{ _('Create a new role') }}">{{ _('New Role') }}</a>
    </p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">
            <p>
                {{ pagination.get_info_text(search_form.search_term) }}
            </p>

            {% if search_form.search_term %}
                {# Only show the reset button if the user has searched for something. #}
                {% set reset_url=url_for('administration.roles_list') %}
            {% endif %}
            {{ render_search_form(search_form, reset_url=reset_url, placeholder=_('Search roles...')) }}
        </li>
    {% for role in pagination.rows %}
        <li class="list-group-item list-group-item-action">
            <a href="{{ url_for('.role_edit', name=role.name) }}" title="{{ _('Edit role “%(role)s”', role=role.name) }}">{{ role.name }}</a>
        </li>
    {% endfor %}
    </ul>
    <p>
        <small class="text-muted">{{ _('Click on the name of a role to edit it.') }}</small>
    </p>

    {{ paginate('administration.roles_list', pagination, search=search_form.search_term) }}
{% endblock %}
