{% extends '_base_standard.html' %}
{% from 'macros/form.html' import render_form %}
{% from 'macros/pagination.html' import pagination %}

{% block content %}
    <p>
        <a href="{{ url_for('administration.roles_list') }}" title="{{ _('Go back to the list of all roles') }}">&laquo; {{ _('Back to Roles') }}</a>
    </p>

    <p>
        {{ _('Edit the role “%(role)s” and manage its permissions and the users assigned to it.', role=role) }}
    </p>

    <p>
        <ul class="nav nav-tabs" id="tabsRoleEdit" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#role" id="tabRole" data-toggle="tab" role="tab" aria-controls="role" aria-selected="true">{{ _('Role') }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#permissions" id="tabPermissions" data-toggle="tab" role="tab" aria-controls="permissions" aria-selected="false">{{ _('Permissions') }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#users" id="tabUsers" data-toggle="tab" role="tab" aria-controls="users" aria-selected="false">{{ _('Users') }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#delete" id="tabDelete" data-toggle="tab" role="tab" aria-controls="delete" aria-selected="false">{{ _('Delete') }}</a>
            </li>
        </ul>
    </p>

    <div class="tab-content" id="tabsRoleEditContent">
        {# Role Header Data #}
        <div class="tab-pane fade show active" id="role" role="tabpanel" aria-labelledby="tabRole">
            <p>
                {{ _('Edit the role\'s header data.') }}
            </p>

            {{ render_form(header_form, cancel_button=True) }}
        </div>

        {# Role Permissions #}
        <div class="tab-pane fade" id="permissions" role="tabpanel" aria-labelledby="tabPermissions">
            <p>
                {{ _('Manage the role\'s permissions.') }}
            </p>

            <p>
                <b># TODO</b>
            </p>
        </div>

        {# Role Users #}
        <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="tabUsers">
            <p>
                {{ _('View the users who have this role assigned to them. You can change a user\'s role in their profile.') }}
            </p>
            <p>
                <b># TODO</b>
            </p>
        </div>

        {# Role Delete #}
        <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="tabDelete">
            <p>
                {{ _('Permanently delete this role. If there are users who currently have this role assigned to them you must specify a new role for these users.') }}
            </p>
            <p>
                <b># TODO</b>
            </p>
        </div>
    </div>
{% endblock %}
