{% extends '_base_email_html.html' %}
{% block content %}
    <p>
        {{ _('To change your email address from %(email_old)s to %(email_new)s, click on the following link or copy and paste it to your browser:',
             email_old='<em>%(email)s</em>'|format(email=email_old)|safe,
             email_new='<em>%(email)s</em>'|format(email=email_new)|safe) }}
    </p>
    <p>
        <a href="{{ link }}" title="{{ _('Change Email Address') }}">{{ link }}</a>
    </p>
    <p>
        {{ _('This link is only valid for the next %(validity)d minutes.', validity=validity) }}
    </p>
    <p>
        {{ _('If you have not requested to change your email address simply ignore this message.') }}
    </p>
{% endblock %}
