{% extends '_base_email.html' %}
{% block content %}
    <p>
        {{ _('Your password has been updated.') }}
    </p>
    {% if support_email %}
    <p>
        {{ _('If you initiated this change yourself you can ignore this email. Otherwise, please contact us immediately. You can reach us under %(support_email)s.',
        program=g.title,
        support_email='<a href="mailto:%(email)s" title="%(program)s Support">%(email)s</a>'
            |format(email=support_email, program=g.title)
            |safe) }}
    </p>
    {% endif %}
{% endblock %}
