{#
    Render a pagination element.

    Params:
        endpoint      - The Flask endpoint route.
        pagination    - A `app.Pagination` object.
        kwargs        - All other keyword arguments will be passed to the url_for() calls.
#}
{% macro paginate(endpoint, pagination) -%}

    {% if pagination.total_pages > 1 %}
    <nav aria-label="{{ _('Navigate pages') }}">
        <ul class="pagination justify-content-center" >
            {# Previous page. #}
            {% if pagination.current_page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for(endpoint, page=pagination.current_page - 1, **kwargs) }}" aria-label="{{ _('Previous Page') }}" title="{{ _('Go to the previous page') }}">
                    <span aria-hidden="True">&laquo;</span>
                    <span class="sr-only">{{ _('Previous') }}</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="True">&laquo;</span>
                <span class="sr-only">{{ _('Previous') }}</span>
            </li>
            {% endif %}

            {# List of all pages. #}
            {% for page in range(1, pagination.total_pages + 1) %}
                {% if page == pagination.current_page %}
                    {% set active_class = ' active' %}
                {% endif %}
            <li class="page-item{{ active_class }}">
                <a class="page-link" href="{{ url_for(endpoint, page=page, **kwargs) }}" title="{{ _('Go to page %(page)d', page=page) }}">{{ page }}</a>
            </li>
            {% endfor %}

            {# Next page. #}
            {% if pagination.current_page < pagination.total_pages %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for(endpoint, page=pagination.current_page + 1, **kwargs) }}" aria-label="{{ _('Next Page') }}" title="{{ _('Go to the next page') }}">
                    <span aria-hidden="True">&raquo;</span>
                    <span class="sr-only">{{ _('Next') }}</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="True">&raquo;</span>
                <span class="sr-only">{{ _('Next') }}</span>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{%- endmacro %}
