<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ g.title }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="{{ _('Toggle Navigation') }}"
            title="{{ _('Toggle Navigation') }}">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('main.index') }}">{{ _('Dashboard') }}</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if g.user.is_authenticated %}
            {# Authenticated user: dropdown with user links. #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ g.user.name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserDropdown">
                    <a class="dropdown-item" href="{{ url_for('authorization.user_profile') }}">{{ _('User Profile') }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('authorization.logout') }}">{{ _('Logout') }}</a>
                </div>
            </li>
            {% else %}
            {# Anonymous user: logout link. #}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('authorization.login') }}">{{ _('Login') }}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
