{% from 'macros/icon.html' import icon %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ g.title }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="{{ _('Toggle Navigation') }}"
            title="{{ _('Toggle Navigation') }}">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        {# Main menu #}
        <ul class="navbar-nav mr-auto">
            {# Dashboard #}
            {% if g.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.index') }}" title="{{ _('Dashboard') }}">{{ icon('tachometer-alt') }} {{ _('Dashboard') }}</a>
            </li>
            {% endif %}

            {# Administration #}
            {% if has_permissions_one_of(Permission.EditGlobalSettings, Permission.EditRole, Permission.EditUser) %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarAdministrationDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ _('Administration') }}">
                    {{ icon('cogs') }}{{ _('Administration') }}
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarAdministrationDropdown">
                    {% if has_permission(Permission.EditGlobalSettings) %}
                    <a class="dropdown-item" href="#" title="{{ _('Global Settings') }}">{{ icon('globe') }} {{ _('Global Settings') }}</a>
                    {% endif %}

                    {% if has_permission(Permission.EditGlobalSettings) and has_permissions_one_of(Permission.EditUser, Permission.EditRole) %}
                    <div class="dropdown-divider"></div>
                    {% endif %}

                    {% if has_permission(Permission.EditUser) %}
                    <a class="dropdown-item" href="#" title="{{ _('Users') }}">{{ icon('users') }} {{ _('Users') }}</a>
                    {% endif %}

                    {% if has_permission(Permission.EditRole) %}
                    <a class="dropdown-item" href="{{ url_for('administration.roles_list') }}" title="{{ _('Roles') }}">{{ icon('key') }} {{ _('Roles') }}</a>
                    {% endif %}
                </div>
            </li>
            {% endif %}
        </ul>

        {# User menu #}
        <ul class="navbar-nav">
            {% if g.user.is_authenticated %}
            {# Authenticated user: dropdown with user links. #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ _('Your Profile') }}">
                    {{ g.user.name }}
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserDropdown">
                    <a class="dropdown-item" href="{{ url_for('userprofile.user_profile') }}" title="{{ _('User Profile') }}">{{ icon('user') }} {{ _('User Profile') }}</a>
                    <a class="dropdown-item" href="{{ url_for('userprofile.user_settings') }}" title="{{ _('Settings') }}">{{ icon('cog') }} {{ _('Settings') }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('userprofile.logout') }}" title="{{ _('Logout') }}">{{ icon('sign-out-alt') }} {{ _('Logout') }}</a>
                </div>
            </li>
            {% else %}
            {# Anonymous user: login link. #}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('userprofile.login') }}" title="{{ _('Login') }}">{{ icon('sign-in-alt') }} {{ _('Login') }}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
