<!DOCTYPE html>
<html lang="{{ g.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot-4.1.1.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-4.1.1.min.css') }}" />

        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>

        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper-1.14.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-4.1.1.min.js') }}"></script>
    </body>
</html>
