{% extends '_base_standard.html' %}
{% block content %}
<p>
    {{ message }}
</p>
{% if show_login_link and not g.user.is_authenticated %}
<p>
    {{ _('%(login)s.',
         login='<a href="%(url)s" title="%(title)s">%(text)s</a>'
            |format(url=url_for('authorization.login'), title=_('Log in'), text=_('Log in'))
            |safe
    ) }}
</p>
{% endif %}
<p>
    {{ _('Go back to the %(homepage)s.',
         homepage='<a href="%(url)s" title="%(title)s">%(text)s</a>'
            |format(url=url_for('main.index'), title=_('Home page'), text=_('home page'))
            |safe
    ) }}
</p>
{% endblock %}
